<p>Dear {{ first_name }} {{ last_name }},</p>
<p>
    To verify account
    <a href="{% url 'activate-account' uid=uid token=token %}">
        click here
    </a>.
</p>
<p>If you have not created an account, simply ignore this message as account will be deleted after 24 hours.</p>
<p>Sincerely,</p>
<p>App.dev Team</p>