<p>Dear {{ first_name }} {{ last_name }},</p>
<p>
    To reset your password
    <a href="{% url 'reset-password' uid=uid token=token %}">
        click here
    </a>.
</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>App.dev Team</p>